.comprobante-grey {
    table.detalle-transaccion {
        width: 100%;
        @include text-properties($roboto-light, #656D77, 13px, 120%, 300, null);
        text-align: left;
        border-collapse: collapse;
        position: relative;
        @media #{$mobile} {
            font-size: 14px;
        }
        tr {
            height: 47px;
            @media #{$mobile} {}
        }
        td {
            border: 1px solid #E6E8EC;
        }
        td:nth-child(1) {
            padding-left: 6%;
            width: 59%;
            @media #{$mobile} {
                padding-left: 7%;
            }
        }
        td:nth-child(2) {
            @include text-properties($roboto-bold, #656D77, 13px, 120%, 300, null);
            padding-left: 10%;
            width: 41%;
            @media #{$mobile} {
                font-size: 14px;
                padding-left: 7%;
            }
        }
        tr:nth-child(even) {
            background-color: #F9F9F9;
        }
    }
    table.detalle-transaccion.comprobante:after {
        content: "";
        position: absolute;
        width: 119px;
        height: 128px;
        bottom: 0px;
        right: 0px;
        background-image: url("../pago/img/timbre_movistar.png");
        background-repeat: no-repeat;
        background-position: center;
        @media #{$mobile} {
            width: 41px;
            height: 128px;
            bottom: 0px;
            right: 0px;
            background-image: url("../pago/img/timbre_movistar_mobile.png");
        }
    }
    .cobro-a-tu-cuenta {
        background-color: #F7F7F9;
        width: 100%;
        //max-width: 592px;
        min-height: 47px;
        margin: 0 auto;
        text-align: left;
        padding: 12px 3%;
        display: inline-block;
        @media #{$mobile} {
            //padding-top: 15.5px;
            padding-top: 22px;
            padding-bottom: 22px;
        }
        i {
            font-size: 24px;
            color: #FDB613;
            width: 25px;
            float: left;
            position: relative;
            top: -3px;
            margin-right: 5px;
            @media #{$mobile} {
                font-size: 25px;
                width: 25px;
                margin-top: 5.5px;
                margin-left: 9px;
                margin-right: 9px;
            }
        }
        p {
            float: left;
            width: calc(100% - 40px);
            margin-left: 6px;
            @include text-properties($roboto-light,
            #5a5b6b,
            12px,
            120%,
            300,
            null);
            @media #{$mobile} {
                font-size: 14px;
                width: calc(100% - 66px);
                padding: 0;
                color: #78808A;
                line-height: 16.5px;
                margin-bottom: 0;
                //margin-bottom: 15.5px;
            }
        }
    }
}