.filter-box{
	border: 1px solid #adadad;
	display: table;	
	width: 100%;
	padding: 20px 10px;

	@media #{$mobile} {
		padding: 20px 0;
	}
	legend{
		@include text-properties($roboto, $text-grey-1, 0.929em, null, 600, uppercase);
		background: #FFF;
		border: 0;
		float: left;
		margin: -28px 2px 0;
		padding: 0 1%;
    	width: auto;

		@media #{$mobile} {
			margin: -30px 1% 0;
		}

	}
	.input-group.date{

		input[type='text']{
			border: 1px solid #e6e9ed;
			border-right: 0;
			box-shadow: 0 0 0 transparent;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-top-right-radius: 0;
			-moz-border-top-right-radius: 0;
			-webkit-border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			-moz-border-bottom-right-radius: 0;
			-webkit-border-bottom-right-radius: 0;
			padding: 0 5%;
			width: 100%;
			vertical-align: middle;
			&::-webkit-input-placeholder{				
				color: #cdd1da;
			}
			&::-moz-placeholder{				
				color: #cdd1da;
				line-height: 50px;
			}
		}
		.input-group-addon{
			border: 1px solid #e6e9ed;
			border-left: 0;
			background: #f6f8fa;
			cursor: pointer;
			width: 50px;
			.icon-calendar{
				background: url("../images/calendar.png") no-repeat 0 0;
				display: block;
				height: 25px;
				width: 25px;
			}
		}
	}
	input[type="text"]{
		&::-webkit-input-placeholder{				
			color: #cdd1da;
		}
		&::-moz-placeholder{				
			color: #cdd1da;
		}
	}
	select{
		padding: 10px 5px;
	}
	.styled-select{
	}
	.form-group{
		margin: 0;

		@media #{$mobile} {
			margin-bottom: 15px;
		}

		.input-group{
			width: 100%;			
		}
		.buttons{
			width: 100%;
		}
	}
	.styled-select{
		background-position: center right 8px;
	}
}
.no-padding-left{
	padding-left: 0!important;

	@media #{$mobile} {
		
		padding-left: inherit!important;
	}
}
.cancel-button{
	font-size: 0.929em;
	white-space: nowrap;

	.cancel-icon{
		@include bg-img('cancel-icon.png', 0, 0, no-repeat);
		display: inline-block;
		height: 24px;
		margin-right: 10px;
		vertical-align: middle;
		width: 24px;

		@media #{$mobile} {
			background-size: contain;
			height: 17px;
			margin-right: 10px;
			width: 17px;			
		}
	}
}
.clean-button{
	margin: 10px 0;

	@media #{$mobile} {
		
		margin: 0 0 15px;
	}

	hr{
		border-top: 1px dashed #e6e8ed;
		margin: 12px 0;
	}
}


.layout-5-col, .layout-4-col, .layout-3-col{
	
	width: 100%;
	
	padding: 0 10px;



	 .col{
		width: 20%;
		float:left;
		padding-right: 18px;


		&:last-child{
			padding-right: 0;
		}

		@media #{$mobile} {

			width: 100%;
			padding-right: 0;
			margin-bottom: 24px;
			float: none;
			
		}

		@media #{$tablet} {

			width: 49%;
			padding: 0;
			
			margin-bottom: 24px;

			&:nth-child(odd){
				margin-right: 2%;
			}

			
		}		

		.input-group{
			@media #{$mobile} {
				width: 100%;
			}

			@media #{$tablet}{
				width: 100%;
			}
		}

 		&:nth-child(2){
 			@media #{$desktop} {
	 			padding-left: 0 !important;
	 			margin-right: 18px;
	 		}
 		}

 		&:nth-child(4){
 			@media #{$mobile} {
	 			margin-bottom: 0;
	 		}
 		}
		.buttons{
			height: 56px;
		}		

	 }

	 .limpiar-busqueda{
	 	width: 100%;

	 	float:left;

	 	@media #{$mobile} {
	 		width: 100%;
			float:right;
	 		margin: 0;
	 	}
	 }


	 .wrap-change{
	 	@media #{$mobile-y-tablet} {
		 	display: table; 
		 	width: 100%;
	 	}

	 	.col{
	 		@media #{$mobile-y-tablet} {
		 		display: table-footer-group;
		 		float:none;

		 	}

		 	@media #{$desktop} {
				width: calc( 20% - 18px );
				padding-right: 0;
			}

	 	}

		&.last-col{
			@media #{$mobile-y-tablet} {
				margin-top: 24px;
			}
		}

	 	.limpiar-busqueda{
	 		@media #{$mobile-y-tablet} {
	 			display: table-header-group;
	 			float:none;
	 			height: 48px;

	 			position: relative;

	 			.space{
	 				padding: 12px 0;
	 				display: block;

	 			}
	 		}

	 		&:before{

	 			@media #{$mobile-y-tablet} {
	 				display:none;
	 			}
	 			
	 		}
	 	}
	 }
}
.layout-4-col{
	.col{
		width: 25%;
		&:nth-child(2){
			@media #{$desktop} {
				//padding-left: 0!important;
				margin-right: 0;
			}
		}

		@media #{$tablet} {			
			padding: 0;
			margin-bottom: 24px;
			&:nth-child(2),
			&:nth-child(3){
				margin: 24px 0;
				width: 49%;
			}
			&:nth-child(2){
				margin-right: 2%;
			}
			&:nth-child(1),
			&:nth-child(4){
				margin: 0;
				width: 100%;
			}
		}

		@media #{$mobile} {
			width: 100%;
			padding-right: 0;
			margin-bottom: 24px;
			float: none;
		}
	}
	.col.col-3{
		width: calc(75% - 20px);
		@media #{$mobile-y-tablet} {			
			margin: 10px 0 0 0;
			width: 100%;
		}
	}
}
.layout-3-col{
	.col{
		width: 33.3333336%;
		&:nth-child(2){
			@media #{$desktop} {
				//padding-left: 0!important;
				margin-right: 0;
			}
		}
		.input-group{
			width: 100%;
		}

		@media #{$tablet} {			
			padding: 0;
			margin-bottom: 24px;
			&:nth-child(1),
			&:nth-child(2){
				margin: 24px 0;
				width: 49%;
			}
			&:nth-child(1){
				margin-right: 2%;
			}
			
			&:nth-child(3){
				margin: 0;
				width: 100%;
			}
		}

		@media #{$mobile} {
			width: 100%;
			padding-right: 0;
			margin-bottom: 24px;
			float: none;
		}
	}
	.col.col-2{
		width: calc(33.3333336% * 2 - 20px);
		@media #{$mobile-y-tablet} {			
			margin: 0;
			width: 100%;
		}
	}
}