.parraf-13{
	@include text-properties($roboto-light !important, $text-grey-5 !important, 13px !important, 170% !important, normal, null);
}
.num-ticket{
	height: 48px;
	line-height: 24px;
	max-width: 300px;
	min-width: 150px;
	strong{
		@include text-properties($roboto-bold, $text-grey-2 !important, em(17) !important, null, 400, null);
	}
}
.svg-24{
	height: 24px !important;
	width: 24px !important;
}
.mt-4{
	margin-top: 4px;
}





