#comparator {
    float:left;
    width:100%;
    @media #{$mobile}{
        &.product-a-b {
            .spec-tables {
                .product-c {
                    display: none !important;
                }
                .product-b {
                    border-right: 0;
                }
            }

        }
        &.product-b-c {
            .spec-tables {
                .product-a {
                    display: none !important;
                }
                .product-b {
                    border-left: 0;
                }
            }
            .product-b .v-line {
                display: none;
            }
        }
        &.product-c-a {
            .spec-tables {
                .product-b {
                    display: none !important;
                }
                .product-a {
                    border-right:2px dotted #ccc;
                }
            }

            .product-c .v-line {
                display: none;
            }
            .flex-nav-next {
               // display: none;
            }
            .product-a-clon-2 {
                display: none !important;

            }

        }

    }

    .products {
        background:#ECF0F6;
        padding-bottom:20px;
        & + .products {
          @media #{$mobile}{
             // height: 300px !important;
          }
          padding-top:0;
          padding-bottom: 0;

        }
        &.scroll-fix {
            z-index:99;
            padding-top:10px;
            padding-bottom:0;
            height:129px;
            box-shadow: 0px 0px 11px 12px rgb(204, 204, 204);
            background-color:#F6F8FA;

            @media #{$mobile}{

            }
            @media #{$no-mobile}{
                height:110px;   
             }

            .flexslider {
                height: 100px;
                overflow: hidden;
            }
            .controles {
            width: calc(100% + 20px);
            margin-left: -10px;
            margin-top: -33px;
            }
            .showcase {
                .filled {
                    display: block !important;
                }

                .msj {
                    display: none;
                }
                .v-line {
                    border-style:dashed;


                }

                .top {
                    float: right;
                    width: 56%;
                    text-align: left;
                    padding-left: 0;
                    span:first-child {
                        display: none;
                    }

                    h4 {
                        font-size: 13px;
                        @media #{$mobile}{
                            color: #646B76;
                        }
                        @media #{$desktop}{
                            font-size: 17px;
                            color: #646B76;
                        }
                    }
                    span {
                        font-size: 12px;
                        @media #{$mobile}{
                            font-family: $roboto-light;
                            font-weight: normal;
                        }
                        @media #{$desktop}{
                            color: #646B76;

                        }
                    }

                }
                .left {
                        float: left !important;
                        width: 37% !important;
                        margin-right: 7% !important;
                    img {
                        padding-left:28%;
                        @media #{$desktop-small, $tablet}{
                            max-width:100% !important;
                        }
                    }

                }
                .right {
                    display: none;

                }
            }

        }

       .slides {
            padding: 0;
            float: left;

            @media #{$no-mobile}{
                width: 100% !important;
                margin-left:0 !important;
             }
        }
        .controles {
            @media #{$no-mobile}{
                display: none;

             }
        }

        .showcase {
            float:left;
            list-style: none;
            display: block;

            > div {
                @media #{$mobile}{
                    text-align: center;
                 }

            }

            .msj {
                @media #{$mobile}{
                    padding-left: 10%;
                    padding-right: 10%;
                    text-align: center;
                 }
                .left {
                    display: none;
                    @media #{$mobile}{
                        display: block;

                     }
                }
                .top {
                    display: inline-block;
                    width: auto;
                    float: none;
                    text-align: left;
                }
                .bottom {
                    @media #{$mobile}{
                        display: inline-block;
                        text-align: left;
                        width: auto;

                     }
                }

                p.info {
                    margin-bottom:17px;
                    margin-top: 12px;
                }

                .icon{
                    position: relative;
                    padding-left: 30px;
                    clear: both;

                    &:before {
                        font-size: 22px;
                        position:absolute;
                        left: 0;
                        @media #{$mobile}{
                            top: -3px;
                            margin-top: 0;
                        }
                    }
                    &.MCSS-exito_v2:before {
                        color:#A7CE37;
                    }
                    &.MCSS-alerta_v2:before {
                        color:#FCB714;
                    }
                    &.alert-blue:before {
                        color:#015D85 !important;
                    }

                }
                button {
                    width: 100% !important;
                }

            }

            &.product-a {
                text-align:center;
                > div.filled {
                    float:none;
                    display:inline-block;
                    .top {
                        text-align: left;
                    }

                    .left {
                        margin: 0;
                        width: 100%;
                        float: none;
                        img {
                            @media #{$desktop-small}{
                                max-width: 81%;

                            }
                            @media #{$tablet}{
                                max-width: 62%;

                            }
                        }

                    }

                }
            }

            a {
                text-decoration: none;
                cursor: pointer;
            }

            & .empty {
                display: none;
                text-align: center;
                padding-bottom:30px;
                .btn-azul {
                    width: 51%;
                    text-align: center;
                    float: none;
                    display: block;
                    margin: 0 auto;
                }
                img {
                    display: inline-block;
                    max-width: 24%;
                    height: auto;
                    margin-bottom: 22px;
                    margin-top: 58px;
                }

            }


            @media #{$no-mobile}{
            padding-right: 3% !important;
            padding-left: 3% !important;
            width: 33.33% !important;
            &.product-a-clon {
                display: none !important;
            }
             }
            @media #{$mobile}{
                width: 440px;
                &.product-d {
                    display: block;
                }
            }
            position: relative;
            &:first-child {

                .v-line {
                    display: none;
                }

            }

            .top {
                float: left;
                width:100%;
                span:first-child {
                    display: block;
                }

                @media #{$mobile}{
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                    width: auto;
                    float: none;
                    text-align: left;
                }
            }
            .left {
                float: left; 
                margin-right:7%;
                width:37%;
                @media #{$mobile}{
                     width:100%;
                     text-align: center;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    @media #{$mobile}{
                         max-height:167px;
                         width: auto;
                         display: inline-block;
                    }
                }
            }
            .right {
                float: left;
                width: 56%;
                .ico-trash {
                    text-align: center;
                }

                @media #{$mobile}{
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                }
                > * {
                    float: left;
                    width: 100%;
                    @media #{$mobile}{
                        float: none;
                        display: inline-block;

                    }
                }
                .btn-verde {
                    width: 90%;
                    text-align: center;
                    @media #{$mobile}{
                        width: 70%;
                        display: inline-block;
                        float: none;
                    }
                }
            }
        }

    }
    .spec-tables {

        .cargar-mas{
            background: #ffffff;
            margin-top: 20px;
        }

    }

}
.score {
    padding-left:0;
    li {
        list-style:none;
        display:inline-block;
        font-family:MCSS;
        color:#CFD3DC;
        font-size:20px;
    &.filled {
            color:#8FC22F;
    }

    }
}

.tabla-movistar-style-2 {
    width: 100%;
    border: none;

}

.tabla-movistar-style-2 th {

    background-color: #0077A0;
    border: none;
    text-align: center;
    padding: 1%;
}
.tabla-movistar-style-2 tr {
    background-color: #F9F9F9;
    strong {
        @include bullet-triangle (4px, #5E9EFF);
    }
    &:nth-child(2n+2) td {

    }
    &:nth-child(2n+3) {
        background-color:#fff;
         td {

                &:first-child {

                    & + td {

                        border-left:2px dotted #ccc;
                        border-right: 2px dotted #ccc;
                        & + td {

                        }

                    }

                }

            }
    }

}
.tabla-movistar-style-2 td {
    border: none;
    width: 33.3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.v-line {
border: 1px dotted #ccc;
position: absolute;
padding: 0px;
height: 87%;
border-width: 0px 2px 0px 0px;
left: 0;
top: 7%;
}

.controles {
    float: left;
    width: 100%;
    text-align: center;
    position:relative;
    background:$blanco;
    .paginator {
        list-style: none;
        padding: 15px 0px;
        margin:0;
        li {
            @include vendor-prefix(border-radius, 50%);
            width: 19px;
            height: 19px;
            background-color: #E0DFE0;
            display: inline-block;
            cursor: pointer;
            &.flex-active{
                background-color: #015D85;
            }
            &.product-b {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
    .flex-direction-nav {
        li {
            position:absolute;
            top:17px;
            &.flex-nav-prev {
                left: 10px;
            }
            &.flex-nav-next {
                right: 10px;
            }
            a {
                text-decoration: none;
                &:before {
                    font-family: 'FontAwesome';
                    content:"\f104";
                    font-size: 30px;
                    color: #E1E7ED;
                }
                &.flex-next:before {
                   content:"\f105";
                }
                &.flex-disabled {
                    display: none;
                }

            }
        }

    }
}
