.pack-title{
    font-size: 17px;
    font-family: $roboto;
    color: #5a5b6b;
    font-weight: bold;
    @media #{$mobile} {
        font-size: 18px;
        padding-bottom: 0px;
      }

}
.text-bold-small{
    font-family: $roboto !important;
    font-weight: bold;
}
.text-bold-big{
    font-family: $roboto-bold !important;
    font-weight: 400;
}

.gris-2{
    color: $text-grey-2 !important;
}

.fieldgroup{
    .row-form{
        &>span{}
        label{
            @media #{$no-mobile} {
                height: 38px;
            }
        }
    }
}
.pad-hr-7{
    padding: 7px 0;
}
.padding-top-7{
    padding-top: 7px;
}
.text-17-bold{
    @include text-properties($roboto-bold  !important, $text-grey-2  !important, em(17) !important, 150% !important, 400!important);
    span{
        font-weight: 400;
    }
}
.border-bottom-dashed-2{
    border-bottom: dashed 1px #cfd3dc;
}
.policy-accept{
    background-color: #f6f8fa;
    padding: 24px 18px;
    @media #{$mobile} {
        padding: 17px 10px;
    }
    p{
        display: inline-block;
        color: #5a5b6b;
        font-family: $roboto-light;
        font-size: em(13);
        margin-bottom: 0;
        padding-left: 30px;
        vertical-align: middle;
        @media #{$mobile} {
            padding-left: 7px;
            width: 75%;
        }
    }
    a{
        float: right;
        position: relative;
        top: -3px;
        svg{
            @include svg(#a9cf38,30px,30px);
        }
    }
}
.checkbox-movistar{
    display: inline-block;
    vertical-align: middle;
    label{
        cursor: pointer;
        margin-bottom: 0;
        overflow: hidden;
        input{
            left: -9999px;
            position: absolute;
            &:checked+span{
                background-color: #5c9bfa;
                &:after{
                    color: white;
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    font-size: 14px;
                    height: 22px;
                    line-height: 20px;
                    padding-left: 3px;
                    text-align: center;
                    width: 22px;
                }
            }
            &+span{
                display:block;
                width: 24px;
                height: 24px;
                border: 2px solid #5c9bfa;
                @include vendor-prefix(border-radius,5px);
            }

        }
    }
}
@media #{$mobile} {
    .xs-row{
        margin-left: -10px;
        margin-right: -10px;
    }
}

#especial.side-cart{

    em{
        @media #{$mobile}{
            font-size: 17px;
        }        
    }

    td{
        @media #{$mobile}{
            font-size: 13px;
        }           
    }

}

.sidebar-detail{
    button{
        @media #{$mobile}{
            font-size: 14px !important;
        }         
    }    
}