


#lista-cambio-plan {
    padding:0;
    p {
        margin-bottom: 0;
        @media #{$mobile-y-tablet} {
           &.correcto {
                span.breakpoint{
                    display: inline-block;
                }
            }
        }
    }
    ul  {
        padding: 0;
    }
    li {
        list-style: none;
        position: relative;
    }
   > li {
        display:table;
        border:1px solid #E0DFE0;
        margin-bottom:24px;
        width:100%;
        .col {
            display: table-cell;
            padding: 17px;
            vertical-align: middle;
            @media #{$mobile} {
                width: 100% !important;
                display: block;
                float: left;
                padding-left: 10px !important;
                padding-right: 10px !important;
                h4 {
                    text-align: center;
                }

             }
        }
        .col-1 {
            width: 32%;
            position: relative;
            @media #{$mobile} {
                &:after {

                }
                p {
                    text-align: center;
                }

             }

            ul {
                display:block;
                width:100%;
                li {
                    float: left;
                    width: 33.33%;
                    text-align: center;
                    vertical-align:top;
                    p {
                        padding-top: 10px;
                        line-height: 19px !important;
                    }

                    strong {
                        display: block;
                    }

                    &:before {
                        color: #A8CE38;
                        font-size: 21px;

                    }
                    &:first-child + li {


                    }

                }

            }

        }
        .col-2 {
            background: #F7F7F9;
            padding-left: 50px;
            padding-right: 27px;
            @media #{$mobile} {
                padding-top: 34px;
             }
        }
        &.style-1 {
            .col-2 {
                width: 45%;
                li {
                    float: left;
                    width: 100%;
                    margin-bottom: 30px;
                    .left {
                        width: 49%;

                    }
                    .right {
                        width: 49%;
                        @media #{$mobile} {
                            text-align: right;
                            }

                    }
                    &:before {
                        color: #5e9eff;
                        font-size: 12px;
                        top: 4px;
                    }

                }

            }
            .col-3 {
                width: 23%;
            }

        }
        &.style-2 {
            .col-2 {
                width:68%;
                @media #{$tablet} {
                    padding-left: 38px;
                 }
                > div {
                    width: 87%;
                    display: inline-block;
                    @media #{$mobile, $tablet} {
                        width: 100%;
                     }
                }

                li {
                    float: left;
                    width: 100%;
                    margin-top: 15px;
                    padding-left: 30px;
                    text-align: left;
                    svg {
                        position: absolute;
                        left: 0;
                        fill:#015D85;
                        width: 21px;
                        height: 15px;
                        top: 5px;

                    }
                    p {
                        background-color: #F7F7F9;
                        position: relative;
                        z-index: 1;
                        display: inline-block;
                        text-align: left;
                    }

                    @media #{$mobile} {
                        padding-left: 10px;
                        svg {
                            display: none;
                        }

                     }
                    &:first-child {

                    }

                    &:before {
                        color: #A8CE38;
                        font-size: 19px;
                        @media #{$mobile} {
                            font-size: 12px;
                            color: #5E9EFF;

                         }
                    }
                     &.disabled {
                         color: #C0C3C7;
                         &:before {
                             color: #C0C3C7;
                         }
                         p {
                             color: #C0C3C7 !important;
                         }
                     }
                    .left {
                        width: 45%;
                         @media #{$mobile} {
                             width: 53%;
                         }

                    }
                    .right {
                        width: 47%;
                         @media #{$mobile} {
                             text-align: right;
                         }
                         @media #{$tablet} {
                             width: 54%;

                         }
                        p {
                            padding-right: 32px;
                            display:block;
                             @media #{$mobile} {
                                 padding-right: 0;
                                 text-align: right;
                             }
                            &:before {
                                position: relative;
                                font-size: 27px;
                                right: 0;
                                float:right;
                                 @media #{$mobile} {
                                     display: none;
                                 }
                            }


                            &.MCSS-exito_v2:before {
                                color: #A9CF38;


                            }
                            &.MCSS-error_v2:before  {
                                color: #E04857;
                            }

                        }

                    }


                }
                         hr {

                            position: absolute;
                            width: 50%;
                            left: 50%;
                            margin-left: -25%;
                            top: 13px;
                            margin-top:0;
                            margin-bottom:0;
                            z-index:0;
                            @media #{$mobile} {
                                display: none;

                             }
                        }
            }

        }

    }
    .cucarda{
        &:before {
          border-color: transparent transparent transparent #fff;  
        }

        @media #{$mobile}{
            @include cucarda(#99cc00, #fff, #ecf0f6);
            float: none !important;
        }
        @media #{$no-mobile}{
            @include cucarda(#99cc00, #fff);
        }
        font-family:$movistar-headline-bold !important;
        font-size: 14px;
    }

}



.triangle-right-grey {

		@media #{$no-mobile} {
			@include flecha-h(#F7F7F9 ,#FFFFFF,$width : 25px);
		}
		@media #{$mobile} {
			@include flecha-v(#F7F7F9,#FFFFFF,25px);
		}
}

.sidebar-detail-config {
    td {
        padding-bottom: 10px;
    }

}
p {
    @media #{$mobile-y-tablet} {
       &.correcto {
            span.breakpoint{
                display: inline-block;
            }
        }
    }
}