@font-face {
    font-family: 'MovistarHeadlineBold';
    src: url('../fonts/movistarheadline-bold-webfont.eot');
    src: url('../fonts/movistarheadline-bold-webfont.eot?iefix') format('eot'),
         url('../fonts/movistarheadline-bold-webfont.woff') format('woff'),
         url('../fonts/movistarheadline-bold-webfont.ttf') format('truetype'),
         url('../fonts/movistarheadline-bold-webfont.svg#webfontZhAFkZ39') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MovistarHeadlineRegular';
    src: url('../fonts/movistarheadline-regular-webfont.eot');
    src: url('../fonts/movistarheadline-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/movistarheadline-regular-webfont.woff') format('woff'),
         url('../fonts/movistarheadline-regular-webfont.ttf') format('truetype'),
         url('../fonts/movistarheadline-regular-webfont.svg#webfontVhYcHUZV') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MovistarText';
    src: url('../fonts/movistartext-regular-webfont.eot');
    src: url('../fonts/movistartext-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/movistartext-regular-webfont.woff') format('woff'),
         url('../fonts/movistartext-regular-webfont.ttf') format('truetype'),
         url('../fonts/movistartext-regular-webfont.svg#webfontT4D5zaO2') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:'Roboto';
    src:url('../fonts/Roboto-Regular-webfont.eot');
    src:url('../fonts/Roboto-Regular-webfont.eot?iefix') format('eot'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#webfontT4D5zaO2') format('svg');
    font-style:normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'RobotoThin';
    src:url('../fonts/roboto-thin.eot');
    src:url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-thin.woff2') format('woff2'),
    url('../fonts/roboto-thin.woff') format('woff'),
    url('../fonts/roboto-thin.ttf') format('truetype'),
    url('../fonts/roboto-thin.svg#robotothin') format('svg');
    font-style:normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url("../fonts/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto-Light-webfont.eot?iefix") format("eot"),
    url("../fonts/Roboto-Light-webfont.woff") format("woff"),
    url("../fonts/Roboto-Light-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Light-webfont.svg#webfontT4D5zaO2") format("svg");
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'MCSS';
    src:url('../fonts/icon-mcss.eot?rnggxp');
    src:url('../fonts/icon-mcss.eot?rnggxp#iefix') format('embedded-opentype'),
        url('../fonts/icon-mcss.ttf?rnggxp') format('truetype'),
        url('../fonts/icon-mcss.woff?rnggxp') format('woff'),
        url('../fonts/icon-mcss.svg?rnggxp#icon-mcss') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'iconografia-menu';
    src:    url('../fonts/iconografia-menu.eot?veb4q6');
    src:    url('../fonts/iconografia-menu.eot?veb4q6#iefix') format('embedded-opentype'),
        url('../fonts/iconografia-menu.ttf?veb4q6') format('truetype'),
        url('../fonts/iconografia-menu.woff?veb4q6') format('woff'),
        url('../fonts/iconografia-menu.svg?veb4q6#iconografia-menu') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomenu-"]:before, [class*=" icomenu-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconografia-menu' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomenu-salvavidas:before {
    content: "\e900" !important;
}
.icomenu-flecha-diagonal:before {
    content: "\e901" !important;
}
.icomenu-iconos_movistar-04:before {
    content: "\e902" !important;
}
.icomenu-tablet:before {
    content: "\e903" !important;
}
.icomenu-candado:before {
    content: "\e904" !important;
}
.icomenu-notebook:before {
    content: "\e905" !important;
}
.icomenu-play:before {
    content: "\e906" !important;
}
.icomenu-internet-mobile:before {
    content: "\e907" !important;
}
.icomenu-banda-ancha:before {
    content: "\e908" !important;
}
.icomenu-ticket:before {
    content: "\e909" !important;
}
.icomenu-home:before {
    content: "\e90a" !important;
}
.icomenu-celu-antena:before {
    content: "\e90b" !important;
}
.icomenu-smartphone:before {
    content: "\e90c" !important;
}


